*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --theme-color:#2e79e7;
    --theme-dark:#091a34;
    overflow-x: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 5px;
  }
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(169, 169, 169, 0);
    outline: 1px solid slategrey;
}
body{
    background-color: var(--theme-dark);
    overflow-x: hidden;
}
.homesection{
    background-image: url("./assets/1000044647.jpg");
    background-size: cover;
    background-position: center;
    background-color: #00000051;
    background-blend-mode: overlay;
    background-attachment:fixed;
}
.navigation{
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0 ;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.navigation2{
    width: 100vw;
    position: sticky;
    top: 0;
    left: 0 ;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    background-color: var(--theme-dark);
}
.logo{
    width: 200px;
    height: auto;
}
.navlinks{
    list-style-type: none;
    display: flex;
    gap:15px
}
.navlink>a{
    text-decoration: none;
    color: white;
}
.homebg{
    --blur:15;
    height: 100dvh;
    width: 100vw;
    opacity: 0;
    -webkit-backdrop-filter: blur(calc(var(--blur) * 1px));
    backdrop-filter: blur(calc(var(--blur) * 1px));
    background-color: var(--theme-dark);
    position: absolute;
    top: 0;
    left: 0;
}
.ray{
    position: absolute;
    top: 0;
    left: 25%;
    height: 100dvh;
    opacity: 0.25;
}
.section{
    /* height: fit-content; */
    height: 100dvh;
    width: 100vw;
    position: relative;
}
.homebody{
    position: relative;
    top: 50%;
    left: 0%;
    margin-left: 40px;
    width: 50vw;
    transform: translateY(-50%);
}
.homebody>h1{
    color: white;
    font-size: 80px;
    transform: translateY(-20px);
}
.homebody>h3{
    color: white;
    font-size: 50px;
}
.homebody>p{
    color: white;
    transform: translateY(-20px);
    font-size: 20px;
}
.tt{
    color: var(--theme-color);
}
.lrnbtn{
    color: white;
    background-color: var(--theme-color);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: 0.25s cubic-bezier(0.03, 1.94, 0.86, 1.54);
}
.lrnbtn:hover{
    letter-spacing: 1px;
}
.lrnbtn:active{
    transform: scale(1.25,0.75);
}
.noul{
    text-decoration: none;
}
.abtsec{
    background-color: var(--theme-dark);
    padding-left: 25px;
    padding-top: 25px;
    color: white;
}
.abtsec>h1{
    font-size: 50px;
    margin-top: 4rem;
}
.abtsec>p{
    width: 50%;
    font-size: 20px;
}
.abtimg{
    height: 100dvh;
    width: 50%;
    float: right;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    clip-path: polygon(0% 0%,100% 0%, 100% 100%,25% 100%);
}
.abtimg2{
    height: 100dvh;
    width: 50%;
    float: right;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    clip-path: polygon(25% 0%,100% 0%, 100% 100%,0% 100%);
}
.serv{
    color: white;
    padding-top: 25px;
}
.serv>h1{
    font-size: 50px;
    margin-top: 4rem;
    margin-left: 25px;
}
.serv>p{
    width: 50%;
    font-size: 20px;
}
.servsec{
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
}
.servcont{
    width: 300px;
    border: 10px solid white;
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;
}
.servimg{
    height: 100%;
}
.servtext{
    background-color: #00000045;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    text-align: center;
}
footer{
    background-color: black;
    color: white;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}
footer>.ftsec>hr{
    all: unset;
    color: var(--theme-color);
    width: 100px;
    background-color: var(--theme-color);
    height: 1px;
    border-top: 2px solid var(--theme-color);
    display: block;
}
footer>.ftsec>h3{
    font-size: 30px;
}
.footerlinks{
    list-style-type: "\25b6    ";
    color: var(--theme-color);
    margin-left: 40px;
}
.footerlinks2{
    list-style-type: none;
    color: var(--theme-color);
    margin-left: 20px;
}
.footerlinks li{
    margin-left: 10px;
}
.ftsec{
    width: 30%;
}
.wt{
    color: white;
}
.copy{
    color: white;
    text-align: center;
    background-color: black;
}